# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized.

### **Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Use a markdown cell to create a table
- Show a few examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

#### 1. Python
#### 2. R
#### 3. C++

### Some of the commonly used libraries used by Data Scientists include:

#### 1. Pandas
#### 2. Matplotlib
#### 3. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter            |
| Appache Zeppelin   |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
### Kyle Spain